* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.navbar {
  background-color: #0d1128;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
}

.navbar a.active {
  color: #f26341;
}

.dashboard,
.admin,
.users,
.user-info {
  height: calc(100vh - 76px);
}

.login-sec {
  background: url('./assets//images//log-bg.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
}

.img {
  height: 100%;
  width: 100%;
}

input {
  height: 56px;
}

.c-point {
  cursor: pointer;
}

.log-icon {
  top: 53%;
  margin-right: 32px;
}